@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import "tailwindcss";
@theme {
  --font-eater: "Eater", sans-serif;
  --animate-myGradient: myGradient 10s linear infinite;
  --animate-myHue: myHue 1.5s linear infinite;
  @keyframes myGradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes myHue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}
@plugin "daisyui";